# Timeout in seconds before automatically booting the default entry
timeout=5

# Verbose output for easier debugging
verbose=yes

# The name of the boot entry
:mitosOS

# The protocol version to use
protocol=limine

# Path to the kernel binary in the boot partition
# 'boot:///' refers to the root of the partition where the bootloader is
kernel_path=boot:///mitosos

# Optional: pass command line arguments to your kernel
# cmdline=loglevel=debug
